{extend name="public/index" /}
{block name="content"}
<div class="page-content" style="padding:8px 10px 24px;">
    <form action="{:url('index/save')}" method="post" name="myForm">
<table>

    <tr>
        <td style="text-align: center;">标题:</td><td><input type="text" name="title" style="width:1030px;" placeholder="此处输入标题"></td>
    </tr>

    <tr>
        <td style="text-align: center;">关键字</td><td><input type="text" name="keywords" style="width:1030px;" placeholder="此处输入关键字"></td>

    </tr>
    <tr>
        <td width="80" style="text-align: center;">文章描述：</td><td><input type="text" name="description" style="width:1030px;" placeholder="此处输入文章的描述信息"></td>
    </tr>

    <tr>
        <td style="text-align: center;vertical-align: text-top">内容：</td><td><textarea id="content" type="text/plain" name="content" cols="30" rows="15" style="width:80%;"></textarea></td>
    </tr>

    <tr>
        <td>文章分类：</td>
        <td><select name="category">
            {volist name='data' id='data'}
            <option value="{$data.id}">{$data.category}</option>
            {/volist}
        </select>
        </td>

    </tr>
    <tr>
        <td></td>
        <td><button class="btn btn-success" onclick="document.myForm.submit()">发布</button></td>
    </tr>

</table>
    </form>
</div>

<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    //var ue = UE.getEditor('container');
    var ue = UE.getEditor('content', {
        autoHeightEnabled:false,
        initialFrameHeight:420,
        textarea:'seed_descript'
    });
    //editor.render("content");
</script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
{/block}