{extend name="public/index"}
{block name="content"}
			<div class="page-content">
				<form action="{:url('index/articleSearch')}" method="post" name="search">
					<input type="text" name="title" placeholder="标题" size="20" style="height:40px;">
					<button class=" btn btn-sm btn-primary" onclick="document.search.submit()"><i class="icon-search nav-search-icon">搜索</i></button>

				</form>
				<hr>
				<table id="sample-table-1" class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th>编号</th>
						<th>标题</th>
						<th>分类</th>
						<th>时间</th>
						<th>操作</th>
					</tr>
					</thead>

					<tbody>
					{volist name='data' id='data'}
					<tr>
						<td>{$data.id}</td>
						<td>{$data.title|raw}</td>

						<td>{$category[$data.category-1]['category']}</td>
						<td>{$data.date|date='Y-m-d H:i:s'}</td>
						<td>
							<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
								<a class="green" href="{:url('index/articleEdit',array('id'=>$data.id))}">
									<i class="icon-pencil bigger-130"></i>
								</a>

								<a class="red" href="{:url('index/articleDelete',array('id'=>$data.id))}" onclick="return confirm('确定要删除吗？')">
									<i class="icon-trash bigger-130"></i>
								</a>
							</div>



						</td>
						{/volist}
					</tr>
					</tbody>
				</table>

			</table>
				{$page|raw}
			</div>


<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
{/block}